wsdl/GnreLoteResultado.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.gnre.pe.gov.br/webservice/GnreResultadoLote" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.gnre.pe.gov.br/webservice/GnreResultadoLote" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.gnre.pe.gov.br/webservice/GnreResultadoLote">
            <s:element name="gnreDadosMsg">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="gnreRespostaMsg">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="gnreCabecMsg">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="versaoDados" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="consultarSoapIn">
        <wsdl:part element="tns:gnreDadosMsg" name="gnreDadosMsg"/>
    </wsdl:message>
    <wsdl:message name="consultarSoapOut">
        <wsdl:part element="tns:gnreRespostaMsg" name="gnreRespostaMsg"/>
    </wsdl:message>
    <wsdl:message name="consultarSoapHeader">
        <wsdl:part element="tns:gnreCabecMsg" name="gnreCabecMsg"/>
    </wsdl:message>
    <wsdl:portType name="GnreResultadoLoteSoap">
        <wsdl:operation name="consultar">
            <wsdl:input message="tns:consultarSoapIn"/>
            <wsdl:output message="tns:consultarSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GnreResultadoLote" type="tns:GnreResultadoLoteSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="consultar">
            <soap12:operation soapAction="http://www.gnre.pe.gov.br/webservice/GnreResultadoLote/consultar" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
                <soap12:header message="tns:consultarSoapHeader" part="gnreCabecMsg" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GnreResultadoLote">
        <wsdl:port binding="tns:GnreResultadoLote" name="GnreResultadoLote">
            <soap12:address location="https://www.gnre.pe.gov.br/gnreWS/services/GnreResultadoLote"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
