wsdl/GnreRecepcaoLote.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="https://www.gnre.pe.gov.br/webservice/GnreLoteRecepcao" xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:tns="https://www.gnre.pe.gov.br/webservice/GnreLoteRecepcao" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="https://www.gnre.pe.gov.br/webservice/GnreLoteRecepcao">
            <s:element name="gnreDadosMsg">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="processarResponse">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="gnreCabecMsg">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="versaoDados" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="processarSoapIn">
        <wsdl:part element="tns:gnreDadosMsg" name="gnreDadosMsg"/>
    </wsdl:message>
    <wsdl:message name="processarSoapOut">
        <wsdl:part element="tns:processarResponse" name="processarResponse"/>
    </wsdl:message>
    <wsdl:message name="processarSoapHeader">
        <wsdl:part element="tns:gnreCabecMsg" name="gnreCabecMsg"/>
    </wsdl:message>
    <wsdl:portType name="GnreLoteRecepcaoSoap">
        <wsdl:operation name="processar">
            <wsdl:input message="tns:processarSoapIn"/>
            <wsdl:output message="tns:processarSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GnreLoteRecepcao" type="tns:GnreLoteRecepcaoSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="processar">
            <soap12:operation soapAction="https://www.gnre.pe.gov.br/webservice/GnreLoteRecepcao/processar"
                  style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
                <soap12:header message="tns:processarSoapHeader" part="gnreCabecMsg" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GnreLoteRecepcao">
        <wsdl:port binding="tns:GnreLoteRecepcao" name="GnreLoteRecepcao">
            <soap12:address location="http://localhost:9081/gnre-ws/services/GnreLoteRecepcao"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>